Subject: CCPA/GDPR Right to Deletion Request - {{ name }}

To the Privacy Officer at {{ domain }},

I am writing to formally request the immediate deletion of all personal information pertaining to me, {{ name }}, pursuant to the California Consumer Privacy Act (CCPA) and/or the General Data Protection Regulation (GDPR).

My identifying information is:
Email: {{ email }}
Phone: {{ phone }}

Your platform is currently hosting my data at: {{ url }}

Please confirm within 30 days that my data has been purged from your systems.

Sincerely,
{{ name }}
